:root {
    --body:rgba(45,45,45,1);
    --footer: rgba(64,64,64,1);
    --header: rgba(194,194,194,1);
    --block: rgba(190,190,190,1);
  }
  
.main-footer{
    display:flex;
    background-color: var(--header);
    flex-direction: column;
    margin-top:auto;
  }
 
.footer-nav {
    display: flex;
    justify-content: center;
    border-color: pink;
    margin: 10px 0 10px;
  }
.footer-nav ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 0;
    padding: 10px 0 0;
    max-width: auto;
  }
  
.footer-nav li {
    display: inline-block;
    border: 10px solid var(--header);

  }

.footer-nav li:hover{
    border-bottom: 10px solid var(--footer);
}
  
.footer-nav a {
    margin: 0 0.5em 0 ;
    padding: 0 0 0 ;
    text-decoration: none;
  }
  