
  .main-header{
    display:flex;
    flex-direction: column;
    border: solid yellow 0px;
    background-color:var(--header);
    margin: 0 0 0;
    padding: 0 0 0;
    border-bottom: solid var(--header) 1px;
  }
  
  .title {
    display:flex;
    align-self: center;
    margin: 0.5em 0 0.5em;
    padding:0 0 0;
  }
  
  .header-nav {
    display: flex;
    justify-content: center;
    margin: 0 0 0;
  }
  .header-nav ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 0;
    padding: 0.5em 0 0.5em;
    /* border: solid pink 10px; */
    max-width: auto;
    background-color: var(--body);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }
  
  .header-nav li {
    display: inline-block;
    border-right: solid var(--header) 2px;

  }
  .header-nav li:last-child{
    border: 0px;
  }
  
  .header-nav a {
    margin: 0 1.5em 0 ;
    padding: 0 0 0 ;
    font-size: 1em;    text-decoration: none;
    border: 0.45em solid var(--body);
  }
  
  .header-nav a:hover {
    border-bottom: 0.45em solid var(--header);
  
  }
