@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Italianno&family=Lora&family=Yellowtail&display=swap');


:root {
  --body:rgba(45,45,45,1);
  --footer: rgba(64,64,64,1);
  --header: rgba(194,194,194,1);
  --block: rgba(190,190,190,1);
}


* {
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  color:var(--block);
  }

html,body{
  margin: 0;
  padding: 0;
  min-width: 1280px;
  max-width: auto;
}

body{
  background-color:var(--body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.main-header{
  display:flex;
  flex-direction: column;
  border-color: yellow;
  color:rgb(87, 252, 208);
  background-color:rgba(192,192,192,1);
  margin-bottom: 10px;
}
.title {
  display:flex;
  align-self: center;
  margin:15px 0 15px;
  padding:0 0 0;
  border-color: limegreen;
}
.nav ul {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 0;
  padding: 10px 0 10px;
  max-width: auto;
  background-color: var(--body);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.nav li {
  display: inline-block;
  border-right: solid var(--header) 2px;

}
.nav li:last-child{
  border: 0px;
}
.nav a {
  margin: 0 2em 0 ;
  padding: 0 0 0 ;
  font-size: 20px;
  text-decoration: none;
}

.nav a:hover {
background-color:rgba(255,255,255,.8);
color:rgba(1, 39, 29, 1);
text-shadow: -1px -1px rgba(1, 39, 29, 0.1),-1px 1px rgba(1, 39, 29, 0.1),1px 1px rgba(1, 39, 29, 0.1),1px -1px rgba(1, 39, 29, 0.1);
}

.logos{
  fill:white
}

.main-nav {
  display: flex;
  justify-content: center;
  border-color: pink;
}

.content{
  margin: 1em;
  border-color: blue;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em;
  border-color: pink;
}
.section-header{
  font-weight: lighter;
  font-size: 2.5em;
  text-align: center;

}
.aboutimage{
  height: 400px;
  width:400px;
  Margin: 15px;
  border-radius: 50%;
}

.socky-images{
    float: bottom;
    height: 30px;
    width:auto; 
}


.main-footer{
background-color:var(--footer);
padding: .25em 0;
display:flex;
margin-top:auto;
border-color: blue;
}

.main-footer-container{
  display:flex;
  align-items: center;
  border-color: grey;
}

.main-footer-container ul{
  flex-grow: 1;
  text-align:center;
}


.grid-container{
  display:grid;
  border-color: white;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
}

.grid-item-1{
  border-color: red;
  grid-column: span 1;
  grid-row: span 6;
  display:flex;
  align-items:center;
}
.grid-item-2{
  border-color: blue;
  display: flex;
  justify-content:cen ;
}
.grid-item-3{
  border-color: green;
  display: flex;
  justify-content:flex-end ;

}
.grid-item-4{
}

.podpis{
  height: auto;
  width:200px;
  margin:0 0 0;
  padding:0 0 0;
  border-radius: 50%;
  border-color: grey;
}