@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Italianno&family=Lora&family=Yellowtail&display=swap');

:root {
  --body:rgba(45,45,45,1);
  --footer: rgba(64,64,64,1);
  --header: rgba(194,194,194,1);
  --block: rgba(190,190,190,1);
}

* {
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  color:var(--block);
  }

html,body{
  margin: 0;
  padding: 0;
  min-width: 1280px;
  max-width: auto;
}

body{
  background-color:var(--body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content{
  margin: 1em;
  border-color: blue;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em;
  border-color: pink;
}

.aboutimage{
  height: 400px;
  width:400px;
  Margin: 15px;
  border-radius: 50%;
}

.socky-images{
    float: bottom;
    height: 30px;
    width:auto; 
}

.grid-container{
  display:grid;
  border-color: white;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
}

.grid-item-1{
  border-color: red;
  grid-column: span 1;
  grid-row: span 6;
  display:flex;
  align-items:center;
}
.grid-item-2{
  border-color: blue;
  display: flex;
  justify-content:cen ;
}
.grid-item-3{
  border-color: green;
  display: flex;
  justify-content:flex-end ;

}
.grid-item-4{
}

.podpis{
  height: auto;
  width:200px;
  margin:0 0 0;
  padding:0 0 0;
  border-radius: 50%;
  border-color: grey;
}
.logos{
  width:30px;
  height: auto;
}
