@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Italianno&family=Lora&family=Yellowtail&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-size:large;
  color:rgba(87, 252, 208, 1);
  }

html,body{
  margin: 0;
  padding: 0;
}
body{
  background-color:rgba(9, 13, 12, 0.95);
  background-image: url("/Images/Header2.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}
.nav ul {
  margin: 0;
  padding: 0px;
}

.nav li {
  display: inline-block;
}

.nav a {
  padding: .5em;
  color:#57fcd0;
  font-size: xx-large;
  text-decoration: none;
}
.nav a:hover {
background-color:rgba(255,255,255,.8);
color:rgba(1, 39, 29, 1);
text-shadow: -2px -2px rgba(0, 233, 175, 0.05),-2px 2px rgba(0, 233, 175, 0.05),2px 2px rgba(0, 233, 175, 0.05),2px -2px rgba(0, 233, 175, 0.05);
}
.main-nav {
  text-align: center;
  text-shadow: -2px -2px rgba(0, 16, 12, 0.5),-2px 2px rgba(0, 16, 12, 0.5),2px 2px rgba(0, 16, 12, 0.5),2px -2px rgba(0, 16, 12, 0.5);
}
.main-nav li {
  padding: 1% 5% 0;
}

.main-header {
  background-color: rgba(0, 0, 0, .2);
  background-image: url("/Images/Header3.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  font-weight: lighter;
  font-size: 4em;
  margin:0 0 0;
  text-shadow: -4px -4px rgba(0, 16, 12, 0.5),-4px 4px rgba(0, 16, 12, 0.5),4px 4px rgba(0, 16, 12, 0.5),4px -4px rgba(0, 16, 12, 0.5);
}
.title-bigus{
  font-size: 8em;
}

.content{
  margin: 1em;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em
}
.section-header{
  font-weight: lighter;
  font-size: 2.5em;
  text-align: center;
}
.aboutimage{
  float: left;
  height: 400px;
  width: 400px;
  Margin: 15px;
  border-radius: 50%;
}

.main-footer{
background-color:rgba(0, 16, 12, 0.88);
padding: .25em 0;
}

.main-footer-container{
  display:flex;
  align-items: center;
}

.main-footer-container ul{
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 .5em;
}

table {
  font-size: xx-large;
  border-collapse: collapse;
  width: 50%;
  margin:auto;
  margin-top:5%;
  margin-bottom: 50%;
}
th{
  padding-left: 50%;
  border:1px solid red;
  
}
td, tr {
  border: 1px solid #dddddd;
  text-align: middle;
  padding: 40px;
  width:max-content;
}

;tr:nth-child(even) {
  background-color: #dddddd;
}

.but1{
  font-size: 300px;
  text-align: middle;
  width: auto;
  padding: 200px;
  margin: 50px;
  background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW190Wv?ver=d8db);
}